div.page-header
	h1 Dit is een chat ding 
		small Wel een alphabeta, dus.
		
div.row
	div.span12
		pre.prettyprint.chatbox
			ul
				
				
		form.form-search
			input(type='text').search-query.span12#input